УСТАНОВШИКИ
5 урок_Лекция_Конспект_Оконные функции.docx (1).pdf
6 урок_Лекция_Презентация_Создание таблиц, представлений и процедур.pptx (1).pdf
11.sql
11qУрок 1. Инструменты для работы с базами данных.txt
11Основные операторы SQL.txt
11Урок 1. Инструменты для работы с базами данных.txt
12.sql
12Урок 2. SQL – создание объектов, изменение данных, логические операторы.txt
13Урок 3. SQL – выборка данных, сортировка, агрегатные функции.txt
14Урок 4. SQL – объединение таблиц union, соединение - join, подзапросы.txt
15Урок 5. SQL – оконные функции.txt
lesson_1.sql
lesson_2.sql
lesson_3.sql
lesson_4.sql
lesson_5.sql
lesson_6.sql
lesson1.sql
lesson2.sql
lesson3.sql
MySQL атрибуты.txt
sa.sql
sfsf.sql
Ахмеров Юнир.doc
Инструкция MySQL — начало работы (1).pdf
Инструкция MySQL — начало работы.pdf
Лекция №1.pptx.pdf
Лекция №2.pptx.pdf
Лекция №3.pptx.pdf
Лекция №4.pptx.pdf
Лекция_#1.pdf
Лекция_№2.pdf
Лекция_№3.pdf
Лекция_№4.pdf
Семинар №1. Базы данных и SQL.pdf
Семинар №2. Базы данных и SQL.pdf
Семинар №3. Базы данных и SQL.pdf
Семинар №4. Базы данных и SQL.pdf
Семинар №5. Базы данных и SQL(обновленный).pdf